.about-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 55%;
  margin: auto;

  .collapse-content {
    background-color: #f6f6f6;
    color: #000;
    text-wrap: pretty;
    width: auto;
    font-size: 26px;
    padding: 20px;
    line-height: 120%;
    
  }

  .collapse-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    height: 65px;
    border-radius: 5px;
    border: none;
    background-color: #ff6060;
  }
}
