.banner {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 43px;

  .banner-image {
    width: 1240px;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.home-banner {
  img {
    border-radius: 25px;
    opacity: 0.95;
    background: #000;
    mix-blend-mode: darken;
  }
}

