.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  border-radius: 25px;
  background: #f6f6f6;
  margin-left: 100px;
  margin-right: 100px;
  padding: 43px 100px 43px 100px;

  .Thumb {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      height: 340px;
      width: 440px;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      bottom: 5px;
      left: 10px;
      padding: 5px;
      color: white;
      font-size: 18px;
      max-width: 45%;
      line-height: 142%;
    }
  }
}

@media (max-width: 768px) {
  .Gallery {
    grid-template-columns: 1fr; // Grille avec 1 colonne sur mobile
    margin-top: 25px;
  }

  .Thumb {
    width: 100%;
    margin: 10px 0;
    img {
      height: 220px;
    }
    
    & h2 {
      font-size: 1rem;
      width: 50%; // Le texte occupe 50% sur mobile
    }
  }
}