.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  border-radius: 25px;
  background: #f6f6f6;
  margin-left: 100px;
  margin-right: 100px;
  padding: 43px 100px 43px 100px;

  .Thumb {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      height: 340px;
      width: 440px;
      object-fit: cover;
    }

    h2 {
      position: absolute;
      bottom: 5px;
      left: 10px;
      padding: 5px;
      color: white;
      font-size: 18px;
      max-width: 45%;
      line-height: 142%;
    }
  }
}
