.Header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 200px 50px 200px;
  max-width: 1440px;
  margin: auto;

  .Nav_Links {
    display: flex;
    align-items: flex-start;
    gap: 57px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 650;
    text-align: right;

    li {
      list-style: none;
    }
    .HomeLink {
      text-decoration: none;
      color: Black;
    }

    .AboutLink {
      text-decoration: none;
      color: Black;
    }
  }
  .Logo_Container img {
    width: 210.322px;
    height: 68px;
  }
}
