
.Header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 200px 50px 200px;
  max-width: 1440px;
  margin: auto;
  width: 100%;



    .Nav {
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      text-decoration: none;
      color: Black;
    }
  
  .Nav_Links {
    display: flex;
    align-items: flex-start;
    gap: 57px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 650;
    text-align: right;
     font-style : Black;

     .active-link {
      color: black; 
      text-decoration: underline;
    }
    li {
      list-style: none;
     

      a{
        text-decoration: none;
        color: black;
      }

    }
   

  }
  .Logo_Container img {
    width: 210.322px;
    height: 68px;
  }



@media (max-width: 768px) {
 padding: 10px 60px 10px 60px; 
 justify-content: space-between;
 align-items: center;
 

}
}