.Nav_Links{
    display: flex;
    gap: 15px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding-right: 35px;


    li {
        list-style: none;
        
        
    }
    .HomeLink {
        text-decoration: none;
        color: Black;
    }

    .AboutLink{
        text-decoration: none;
        color: Black;
    }
}