// .slider-container {
//   width: 1440px;
//   height: 415px;
//   margin: 0 auto;
//   position: relative;

//   .slick-prev:before,
//   .slick-next:before {
//     content: none !important; /* Masquer le contenu de base des flèches Slick */
//   }

//   .slick-arrow {
//     position: absolute;
//     z-index: 1;
//     top: 50%;
//     transform: translateY(-50%);
//     font-size: 30px;
//     color: white;
//     background: none;
//     border: none;
//   }

//   .slick-prev {
//     left: 10px;
//   }

//   .slick-next {
//     right: 10px;
//   }

//   .slick-prev:hover,
//   .slick-next:hover {
//     color: white; /* Garde les flèches blanches au survol */
//   }

//   .slider-image-container {
//     position: relative;
//     text-align: center;
//     .image-counter {
//       position: absolute;
//       bottom: 10px; /* Ajustez selon le besoin */
//       right: 50%; /* Ajustez selon le besoin */
//       color: white; /* Couleur du compteur */
//       padding: 5px;
//       border-radius: 5px;
//     }
//     img {
//       display: block;
//       width: 1440px;
//       height: 415px;
//       object-fit: cover;
//       border-radius: 25px;
//     }
//   }
// }

.slider {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;

  .slider-image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    display: block;
  }

  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2;
    user-select: none;
  }

  .left {
    left: 10px;
  }

  .right {
    right: 10px;
  }

  .image-counter {
    position: absolute;
    bottom: 15px;
    right: 50%;
    color: white;
  }
}
