.Thumb {
    text-decoration: none;
    color: inherit;
  }
  
  .Thumb_Content {
    position: relative;
  }
  
  .Thumb_Image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .Thumb_Title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }